.buying {
    height: 650px;
    display: grid;
    grid-template-columns: 300px 1fr 1fr 300px;
    grid-template-areas: 
    ". container-1 container-2 ."
}

.buying .container-1 {
    grid-area: container-1;
    align-self: center;
}

.buying .container-2 {
    grid-area: container-2;
    align-self: center; 
}