.buying-container {
    display: grid;
    grid-template-columns:  1fr 5fr 1fr;
    grid-template-areas: 
    ". buying .";
    height: 650px;
}

.buying {
    grid-area: buying;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "container-1 container-2 "
}

.buying .container-1 {
    grid-area: container-1;
    align-self: center;
}

.buying .container-2 {
    grid-area: container-2;
    align-self: center; 
}