.text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 1fr 1fr 1fr;
    grid-template-areas: 
    "h1 ."
    "item-1 item-4"
    "item-2 item-5"
    "item-3 .";
    font-family: MyriadPro;
    grid-column-gap: 26px;
    align-items: start;
}


.h1 {
    grid-area: h1;
    font-size: 35px;
    padding-top: 70px;
}

div.item-1 {
    grid-area: item-1;
  }
  
div.item-2 {
    grid-area: item-2;
  }
  
div.item-3 {
    grid-area: item-3;
  }
  
div.item-4 {
    grid-area: item-4;
  }
  
div.item-5 {
    grid-area: item-5;
  }

  .filler {
      font-size: 15px;
      line-height: 24px;
      color: #959595
  }