.colour-container {
    display: grid;
    grid-template-columns:  1fr 5fr 1fr;
    grid-template-areas: 
    ". colour .";
    background: #7bbf94;
    color: white;
    height: 550px;
    font-family: MyriadPro;
}

.colour {
    grid-area: colour;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas: 
    "item-1 item-1 ."
    "item-2 item-3 item-4";
}

.colour .item-1{
    grid-area: item-1;
    align-self: end;
    font-size: 35px;
}

.colour .item-2{
    grid-area: item-2;
}

.colour .item-3{
    grid-area: item-3;
}

.colour .item-4{
    grid-area: item-4;
}

.colour span {
    font-size: 19px;
    align-self: start;
}

.colour p {
    font-size: 13px;
    line-height: 24px;
    
}

.colour .item-text {
    margin-right: 35px;
    font-size: 13px;    
}