.content {
    height: 1650px;
    display: grid;
    grid-template-columns: 300px 1fr 300px;
    grid-template-rows: 560px 1fr 1fr;
    grid-template-areas: 
    ". text ."
    ". box-grid box-grid"
    ". four-col .";
}

.text {
    grid-area: text;
}

.box-grid {
    grid-area: box-grid;
}

.four-col {
    grid-area: four-col;
}